<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS</title>
</head>
<body>
    
    <div id="root">
        <label for="">Nome</label>
        <input type="text" v-model="nome">
        <label for="">Cognome</label>
        <input type="text" v-model="cognome">
        <h1>ciao {{nome}} {{cognome}}</h1>



        <button @click ="greetings">click</button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>