body{
    background-color: aliceblue;
}

.square{
    width:150px;
    height: 150px;
    border:1px solid black;
    background-color: blue;
    margin:10px;
}

img{
    border:1px solid rosybrown;
    vertical-align: middle;
    width:150px;
}

.container{
    width:70%;
    margin:auto;
    text-align: center;
}

@media screen and (max-width:780px){
   body{
       background-color: salmon;
    }
   img:last-child{
       width:250px;
   }
}

@media screen and (max-width:568px){
    body{
        background-color:green;
    }
    img{
        width:100%;
    }
    
 }