<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Conditionals</title>
</head>
<body>
    <div id="root">
       <!--  <h1 v-if="x === 5">{{message}}</h1>
        <h1 v-else-if="x > 10">Vue is very Cool!</h1>
        <h1 v-else>Oh no 😥</h1>

        <template v-if="awesome">
            <h1>Vue is cool</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, optio!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis asperiores expedita quibusdam voluptates vel mollitia?</p>
        </template> -->
        <ul>
            <li v-for="film in movies">{{film}}</li>
        </ul>

    </div>



    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- JS -->
    <script src="main.js"></script>
</body>
</html>